{% extends 'news/base.html' %}
{% load static %}

{% block title %}Yangilikni qo'shish{% endblock title %}

{% block content %}
    <h2 class="text-center">Yangilik qo'shish</h2>
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-group-justified ml-3" style="color: #46b8da">Yangilikni qo'shish...</button>
    </form>
    
    
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        $(document).ready(function(){
            $('#id_title').on('input', function(){
                var title = $(this).val();
                var slug = title.toLowerCase().replace(/[^a-z0-9]+/g, '-');
                $('#id_slug').val(slug);
            });
        });
    </script>
    
{% endblock %}




