{% extends 'news/base.html' %}
{% load static %}
{% load hitcount_tags %}

{% block title %}Texnologiya habarlar{% endblock title %}

{% block content %}
    <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="single_post_content">
            <h2><span>Texnologiya</span></h2>
            <div class="single_post_content_left">
              <ul class="business_catgnav  wow fadeInDown">
                  {% for news in texnologik_yangiliklar %}
                      <li>
                          <figure class="bsbig_fig"> <a href="{{ news.get_absolute_url }}" class="featured_img"> <img alt="" src="{{ news.image.url }}"> <span class="overlay"></span> </a>
                              <figcaption> <a href="{{ news.get_absolute_url }}">{{ news.title|truncatewords:5 }}</a> </figcaption>
                              <p>{{ news.title }}</p>
                              <p style="color: hotpink">Ko'rilganlar soni: <i class="fa fa-eye" aria-hidden="true"></i> {% get_hit_count for news %}</p>
                          </figure>
                      </li>
                  {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
{% endblock content %}



